.cards {
    margin: 47.25px auto 67px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    gap: 20px 17px;
    max-width: 880px;
}

@media screen and (max-width: 950px) {
    .cards {
        margin: 36px auto 48px;
        gap: 20px;
    }
}