.popup {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: fixed;
    top: 195px;
    left: calc((100vw - 430px)/2);
    display: none;
}

@media screen and (max-width: 950px) {
    .popup {
        width: 282px;
        height: 322px;
        top: 123px;
        left: calc((100vw - 282px)/2);
    }
}