.popup {
    position: fixed;
    display: none;
    /*размещаем элемент в центре страницы */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /**************************************/
}