.profile__image {
    /* width: 168.75px;
    height: 127.5px; */
    margin-right: 3.75px;
    margin-left: -22.5px;
}

@media screen and (max-width: 979px) {
    .profile__image {
        margin-left: 0;
    }
}