.profile__box {
    display: flex;
    gap: 18px;
    height: 39px;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 644px) {
    .profile__box {
        position: relative;
        height: 26px;
        gap: 0;
    }
}