.profile__box {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 644px) {
    .profile__box {
        position: relative;
        gap: 0;
    }
}