.profile__pen {
    width: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 979px) {
    .profile__pen {
        width: 7.5px;
    }
}