.popup__text {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
}